body {
    background: #fefefe;
}
.header {
    color: #6c1285;
}
.sectionHeader {
    color: #6c1285;
}
.diaryHeader {

}
.heading {
    color: blueviolet;
}
.paragraph {
    color: brown;
}
.link {

}
.thirdHeader {
    
}